<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

    <title>AdminLTE 3 | Dashboard</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../content/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
      </div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">admin</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a [routerLink]="['admin-dashboard/dashboard']" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-header">BENEFICIARIES</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    Families
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/family']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Families</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/family/add']" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Family</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    Children
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['admin-dashboard/children']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Chilfren</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Child</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    Establishments
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Establishments</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p>Add Establishment</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    Donations Issued
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    Donations Received
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS Items</li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    Items
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Items</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Item</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Status Item</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">REFERENCE TABLE</li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Establishments Types</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Citys</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Health Categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Nature</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>School Level</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Educational Institutions</p>
                </a>
              </li>

              <li class="nav-header">CONTRIBUTORS</li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    Authorizing Officers
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Authorizing Officers</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Authorizing Officer</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper" style="margin-top: -3rem">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0"><span jhiTranslate="awtarApp.nature.home.title">Natures</span></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active"><span jhiTranslate="awtarApp.nature.home.title">Natures</span></li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <p-table
              #dt2
              [value]="natures"
              dataKey="id"
              [rows]="5"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[5, 10, 20]"
              [paginator]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [globalFilterFields]="['name', 'necessityValue', 'necessityValue']"
            >
              <ng-template pTemplate="caption">
                <div class="flex" style="text-align: right">
                  <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search" style="margin-left: 12rem"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="dt2.filterGlobal($any($event.target).value!, 'contains')"
                      placeholder="Search keyword"
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th><span jhiTranslate="awtarApp.nature.name">Name</span></th>
                  <th><span jhiTranslate="awtarApp.nature.necessityValue">Necessity Value</span></th>
                  <th><span jhiTranslate="awtarApp.nature.necessityValue">Necessity Value</span></th>
                  <th><span>Action</span></th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="necessityValue"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="destinedTo"></p-columnFilter>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-nature>
                <tr>
                  <td>
                    {{ nature.name }}
                  </td>
                  <td>
                    {{ nature.necessityValue }}
                  </td>
                  <td>
                    {{ nature.destinedTo }}
                  </td>
                  <td>
                    <ul class="list-unstyled mb-0 d-flex">
                      <li style="margin-right: 0.5rem">
                        <a
                          [routerLink]="['/nature', nature.id, 'view']"
                          class="text-primary"
                          data-toggle="tooltip"
                          title=""
                          data-original-title="view"
                          ><i class="far fa-eye"></i
                        ></a>
                      </li>
                      <li style="margin-right: 0.5rem">
                        <a
                          [routerLink]="['/nature', nature.id, 'edit']"
                          class="text-info"
                          data-toggle="tooltip"
                          title=""
                          data-original-title="Edit"
                          ><i class="fas fa-pencil-alt"></i
                        ></a>
                      </li>
                      <li style="margin-right: 0.5rem">
                        <a href="#" (click)="delete(nature)" class="text-danger" data-toggle="tooltip" title="" data-original-title="Delete"
                          ><i class="far fa-trash-alt"></i
                        ></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">No natures found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
