<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="child">
      <h2 data-cy="childDetailsHeading"><span jhiTranslate="awtarApp.child.detail.title">Child</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ child.id }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.child.family">Family</span></dt>
        <dd>
          <div *ngIf="child.family">
            <a [routerLink]="['/family', child.family?.id, 'view']">{{ child.family?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/child', child.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
