<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

    <title>AdminLTE 3 | Dashboard</title>
    <style>
      .text-blue {
        color: #3afe;
      }

      ul.friend-list {
        margin: 0;
        padding: 0;
      }

      ul.friend-list li {
        list-style-type: none;
        display: flex;
        align-items: center;
      }

      ul.friend-list li:hover {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

      ul.friend-list .left img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 20px;
      }

      ul.friend-list li {
        padding: 10px;
      }

      ul.friend-list .right h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0;
      }

      ul.friend-list .right p {
        font-size: 11px;
        color: #6c757d;
        margin: 0;
      }

      .social-timeline-card .dropdown-toggle::after {
        display: none;
      }

      .info-card h4 {
        font-size: 15px;
      }

      .info-card h2 {
        font-size: 18px;
        margin-bottom: 20px;
      }

      .social-about .social-info {
        font-size: 16px;
        margin-bottom: 20px;
      }

      .social-about p {
        margin-bottom: 20px;
      }

      .info-card i {
        color: #3afe;
      }

      .card-one {
        position: relative;
        width: 300px;
        background: #fff;
        box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
      }

      .card-one .header {
        position: relative;
        width: 100%;
        height: 60px;
        background-color: #3afe;
      }

      .card-one .header::before,
      .card-one .header::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: inherit;
      }

      .card-one .header::before {
        -webkit-transform: skewY(-8deg);
        transform: skewY(-8deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }

      .card-one .header::after {
        -webkit-transform: skewY(8deg);
        transform: skewY(8deg);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
      }

      .card-one .header .avatar {
        position: absolute;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        z-index: 5;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background: #ccc;
        border: 3px solid #fff;
      }

      .card-one .header .avatar img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }

      .card-one h3 {
        position: relative;
        margin: 80px 0 30px;
        text-align: center;
      }

      .card-one h3::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -15px;
        width: 30px;
        height: 1px;
        background: #000;
      }

      .card-one .desc {
        padding: 0 1rem 2rem;
        text-align: center;
        line-height: 1.5;
        color: #777;
      }

      .card-one .contacts {
        width: 200px;
        max-width: 100%;
        margin: 0 auto 3rem;
      }

      .card-one .contacts a {
        display: block;
        width: 33.333333%;
        float: left;
        text-align: center;
        color: #c8c;
      }

      .card-one .contacts a:hover {
        color: #333;
      }

      .card-one .contacts a:hover .fa::before {
        color: #fff;
      }

      .card-one .contacts a:hover .fa::after {
        width: 100%;
        height: 100%;
      }

      .card-one .contacts a .fa {
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 39px;
        overflow: hidden;
        text-align: center;
        font-size: 1.3em;
      }

      .card-one .contacts a .fa:before {
        position: relative;
        z-index: 1;
      }

      .card-one .contacts a .fa::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #c8c;
        transition: width 0.3s, height 0.3s;
      }

      .card-one .contacts a:last-of-type .fa {
        line-height: 36px;
      }

      .card-one .footer {
        position: relative;
        padding: 1rem;
        background-color: #3afe;
        text-align: center;
      }

      .card-one .footer a {
        padding: 0 1rem;
        color: #e2e2e2;
        transition: color 0.4s;
      }

      .card-one .footer a:hover {
        color: #c8c;
      }

      .card-one .footer::before {
        content: '';
        position: absolute;
        top: -27px;
        left: 50%;
        margin-left: -15px;
        border: 15px solid transparent;
        border-bottom-color: #3afe;
      }

      .card-title,
      .card .card-title,
      .card-2 .card-title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      a {
        color: #333;
      }
      .badge {
        font-size: 12px;
        line-height: 1;
        padding: 0.375rem 0.5625rem;
        font-weight: normal;
      }

      .badge-primary {
        color: #447de8;
        background-color: #e6edff;
      }
      .badge {
        display: inline-block;
        padding: 0.4em 0.5em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
      }

      /*end social*/
    </style>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../content/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
      </div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ account?.login }}</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a href="dashboard" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p><span jhiTranslate="dashboard.dashboard">Dashboard</span></p>
                </a>
              </li>
              <li class="nav-header"><span jhiTranslate="dashboard.beneficiaries">BENEFICIARIES</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    <span jhiTranslate="dashboard.families">Families</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/family" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfFamilies">List of Families</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/family/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addFamily">Add Family</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    <span jhiTranslate="dashboard.children">Children</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/child" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfChildren">List Of Chilfren</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="child/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addChild">Add Child</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    <span jhiTranslate="dashboard.establishments">Establishments</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/establishment" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfEstablishments">List Of Establishments</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/establishment/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p><span jhiTranslate="dashboard.addEstablishment">Add Establishment</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donations">DONATIONS</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsIssued">Donations Issued</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-issued" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsIssued">List of Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-issued/add-any-donations" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsIssued">Add Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsReceived">Donations Received</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-received" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsReceived">List Of Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-received/new" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsReceived">Add Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donationsItems">DONATIONS Items</span></li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    <span jhiTranslate="dashboard.items">Items</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/item" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfItems">List of Items</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/item/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addItem">Add Item</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statusOfItem">Status Item</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.referenceTable">REFERENCE TABLE</span></li>

              <li class="nav-item">
                <a href="establishment-type" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.establishmentsTypes">Establishments Types</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/city" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.Citys">Citys</span></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.healthCategories">Health Categories</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/nature" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.natureOfDonOrItem">Nature</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/school-level" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.schoolLevels">School Level</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/educational-institution" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.educationInstitutions">Educational Institutions</span></p>
                </a>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.contributors">CONTRIBUTORS</span></li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    <span jhiTranslate="dashboard.authorizingOfficers">Authorizing Officers</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a routerLink="/authorizing-officer" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfAuthorizingOfficers">List Of Authorizing Officers</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/authorizing-officer/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addAuthorizingOfficer">Add Authorizing Officer</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    <span jhiTranslate="dashboard.tutors">Tutors</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/tutor" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfTutors">List Of Tutors</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/tutor/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addTutor">Add Tutor</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item"></li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper" style="margin-top: -3rem">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1><span jhiTranslate="awtarApp.establishment.establishmentInterface">Establishment Interface</span></h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <a href="#"><span jhiTranslate="dashboard.home">Home</span></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#"><span jhiTranslate="dashboard.dashboard">Dashboard</span></a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#"><span jhiTranslate="awtarApp.establishment.establishment">Establishment</span></a>
                  </li>
                  <li class="breadcrumb-item active">
                    <span jhiTranslate="awtarApp.establishment.establishmentInterface">Establishment Interface</span>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="container-fluid">
            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>
            <div class="row">
              <div class="col-md-3">
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile" *ngIf="establishment">
                    <div class="text-center">
                      <img
                        class="profile-user-img"
                        style="width: 100%; height: 100%"
                        src="../../../../content/images/establishment.jpg"
                        alt="User profile picture"
                      />
                    </div>
                    <h3 class="profile-username text-center"><span jhiTranslate="awtarApp.establishment.name">Name</span></h3>
                    <p class="text-muted text-center">
                      <span>{{ establishment.name }}</span>
                    </p>
                    <ul class="list-group list-group-unbordered mb-3">
                      <li class="list-group-item">
                        <b><span jhiTranslate="awtarApp.establishment.activity">Activity</span></b>
                        <a class="float-right">{{ establishment.activity }}</a>
                      </li>

                      <li class="list-group-item">
                        <b><span jhiTranslate="awtarApp.establishment.site">Site</span></b>
                        <a class="float-right">{{ establishment.site }}</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="card social-timeline-card" *ngIf="establishment">
                  <div class="card-body">
                    <h5 class="card-title"><span jhiTranslate="awtarApp.family.contributors">Contributors</span></h5>
                    <p><span class="material-icons-sharp" style="margin-left: 0.5rem">groups</span></p>
                    <ul class="friend-list">
                      <div>
                        <div *ngIf="Ordonnateur" [routerLink]="['/authorizing-officer', establishment.authorizingOfficer?.id, 'view']">
                          <li>
                            <div class="left" *ngIf="Ordonnateur">
                              <img *ngIf="!Ordonnateur.body?.urlPhoto" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                              <a (click)="openFile(Ordonnateur.body?.urlPhoto!, Ordonnateur.body?.urlPhotoContentType!)">
                                <img
                                  [src]="'data:' + Ordonnateur.body?.urlPhotoContentType + ';base64,' + Ordonnateur.body?.urlPhoto"
                                  style="max-width: 100%"
                                  alt="Ordonnateur.body? image"
                                />
                              </a>
                            </div>
                            <div class="right" *ngIf="Ordonnateur">
                              <h3>{{ Ordonnateur.body?.lastName }} {{ Ordonnateur.body?.firstName }}</h3>
                              <p><span jhiTranslate="awtarApp.profile.authorizingOfficer">Authorizing Officer</span></p>
                            </div>
                          </li>
                        </div>
                        <li *ngIf="!Ordonnateur">
                          <div class="left">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" />
                          </div>
                          <div
                            class="right"
                            style="display: flex"
                            [routerLink]="['/beneficiary', establishment.id, 'contributor', 'authorizing-officer']"
                          >
                            <p>
                              <fa-icon icon="plus"></fa-icon>
                              <span jhiTranslate="awtarApp.authorizingOfficer.home.addLabel"> Add an Authorizing Officer </span>
                            </p>
                          </div>
                        </li>
                        <div *ngIf="Ordonnateur" class="text-right" style="margin-top: -3rem">
                          <div class="dropdown">
                            <button
                              class="btn btn-link dropdown-toggle"
                              type="button"
                              id="gedf-drop11"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                              <div class="h6 dropdown-header"><span jhiTranslate="awtarApp.family.settings">Settings</span></div>
                              <a class="dropdown-item" href="#"
                                ><span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span></a
                              >
                              <a
                                class="dropdown-item"
                                [routerLink]="['/beneficiary', establishment.id, 'contributor', 'authorizing-officer']"
                              >
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                              </a>
                              <a class="dropdown-item" (click)="removeAuthorizingOfficer(benef)"
                                ><span jhiTranslate="entity.action.delete"> Delete </span></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="right">
                        <div *ngIf="Tuteur" [routerLink]="['/tutor', establishment.tutor?.id, 'view']">
                          <li>
                            <div class="left">
                              <img *ngIf="!Tuteur.body?.urlPhoto" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                              <a (click)="openFile(Tuteur.body?.urlPhoto!, Tuteur.body?.urlPhotoContentType!)">
                                <img
                                  [src]="'data:' + Tuteur.body?.urlPhotoContentType + ';base64,' + Tuteur.body?.urlPhoto"
                                  style="max-width: 100%"
                                  alt="Tuteur.body? image"
                                />
                              </a>
                            </div>
                            <div class="right">
                              <h3 class="right">{{ Tuteur.body?.lastName }} {{ Tuteur.body?.firstName }}</h3>
                              <p><span jhiTranslate="awtarApp.profile.tutor">Tutor</span></p>
                            </div>
                          </li>
                        </div>
                        <li *ngIf="!Tuteur">
                          <div class="left">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                          </div>
                          <div
                            class="right"
                            style="display: flex"
                            [routerLink]="['/beneficiary', establishment.id, 'contributor', 'tutor']"
                          >
                            <p>
                              <fa-icon icon="plus"></fa-icon>
                              <span jhiTranslate="awtarApp.tutor.home.addLabel"> Add a tutor </span>
                            </p>
                          </div>
                        </li>
                        <div *ngIf="Tuteur" class="text-right" style="margin-top: -3rem">
                          <div class="dropdown">
                            <button
                              class="btn btn-link dropdown-toggle"
                              type="button"
                              id="gedf-drop11"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="fa fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                              <div class="h6 dropdown-header"><span jhiTranslate="awtarApp.family.settings">Settings</span></div>
                              <a class="dropdown-item" href="#"> <span jhiTranslate="entity.action.view"> View </span></a>
                              <a class="dropdown-item" [routerLink]="['/beneficiary', establishment.id, 'contributor', 'tutor']">
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                              </a>
                              <a class="dropdown-item" (click)="removeAuthorizingOfficer(benef)"
                                ><span jhiTranslate="entity.action.delete">Delete</span></a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab"
                          ><span jhiTranslate="awtarApp.family.about">About</span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#dons" data-toggle="tab"
                          ><span jhiTranslate="awtarApp.family.donations">>Donations</span></a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#settings" data-toggle="tab"
                          ><span jhiTranslate="awtarApp.family.settings">Settings</span></a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="about">
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-12">
                              <div class="card card-primary">
                                <div class="card-header"></div>

                                <div class="card-body" *ngIf="establishment">
                                  <div class="row"></div>
                                  <div class="row mt-4">
                                    <div class="col-sm-4">
                                      <div class="position-relative p-3 bg-warning" style="height: 280px">
                                        <dt><span jhiTranslate="awtarApp.establishment.establishmentType">Establishment Type</span></dt>
                                        <dd>
                                          <div *ngIf="establishment.establishmentType">
                                            <a [routerLink]="['/establishment-type', establishment.establishmentType?.id, 'view']">{{
                                              establishment.establishmentType?.typeName
                                            }}</a>
                                          </div>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.remark">Remark</span></dt>
                                        <dd>
                                          <span>{{ establishment.remark }}</span>
                                        </dd>
                                      </div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="position-relative p-3 bg-warning" style="height: 280px">
                                        <dt><span jhiTranslate="awtarApp.establishment.city">City</span></dt>
                                        <dd>
                                          <div *ngIf="establishment.city">
                                            <a [routerLink]="['/city', establishment.city?.id, 'view']">{{ establishment.city?.name }}</a>
                                          </div>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.region">Region</span></dt>
                                        <dd>
                                          <span>{{ establishment.region }}</span>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.adress">Adress</span></dt>
                                        <dd>
                                          <span>{{ establishment.adress }}</span>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.cp">Cp</span></dt>
                                        <dd>
                                          <span>{{ establishment.cp }}</span>
                                        </dd>
                                      </div>
                                    </div>
                                    <div class="col-sm-4">
                                      <div class="position-relative p-3 bg-warning" style="height: 280px">
                                        <dt><span jhiTranslate="awtarApp.establishment.phone">Phone</span></dt>
                                        <dd>
                                          <span>{{ establishment.phone }}</span>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.fax">Fax</span></dt>
                                        <dd>
                                          <span>{{ establishment.fax }}</span>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.contact">Contact</span></dt>
                                        <dd>
                                          <span>{{ establishment.contact }}</span>
                                        </dd>
                                        <dt><span jhiTranslate="awtarApp.establishment.email">Email</span></dt>
                                        <dd>
                                          <span>{{ establishment.email }}</span>
                                        </dd>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-4">
                                    <div class="col-sm-4">
                                      <div class="position-relative" *ngIf="establishment">
                                        <img
                                          src="../../../../content/images/gerant.jpg"
                                          alt="Photo 1"
                                          style="height: 194px"
                                          class="img-fluid"
                                        />
                                        <div style="text-align: center">
                                          <h6 style="margin-top: 0.5rem">
                                            <b><span jhiTranslate="awtarApp.establishment.manager">Manager</span></b>
                                            <h6>{{ establishment.manager }}</h6>
                                          </h6>
                                          <h6>
                                            <b><span jhiTranslate="awtarApp.establishment.managerCin">Manager Cin</span></b>
                                            <h6>{{ establishment.managerCin }}</h6>
                                          </h6>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                      <div class="position-relative">
                                        <img src="../../../../content/images/Donations-family.jpg" alt="Photo 2" class="img-fluid" />
                                        <h6 style="margin-top: 0.5rem">Dons de l'établissement</h6>
                                        <h6>{{ donationList!.length }} Dons en totale</h6>

                                        <h6>{{ df }} validated / {{ donationList!.length - df }} not validated</h6>
                                      </div>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                      <div class="position-relative">
                                        <img
                                          src="../../../../content/images/reference.jpg"
                                          alt="Photo 3"
                                          style="height: 194px"
                                          class="img-fluid"
                                        />
                                        <h6 style="margin-top: 0.5rem">Reference</h6>
                                        <h6>{{ benef.beneficiaryReference }}</h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="dons">
                        <div class="card social-timeline-card">
                          <div class="card-body" style="margin-left: -0.8rem; margin-right: -1rem">
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="card">
                                      <div style="height: 3rem; margin-top: 1rem; margin-left: 1rem">
                                        <h5 class="m-0" style="color: rgb(219, 28, 158)">
                                          Il y'a {{ donationList ? donationList.length : 0 }}
                                          <span jhiTranslate="awtarApp.family.donations">Donations</span> en totale
                                        </h5>
                                      </div>

                                      <div class="card-header">
                                        <h3 class="card-title"><span jhiTranslate="awtarApp.family.settings">Donation Settings</span></h3>
                                        <div class="text-right">
                                          <div class="dropdown">
                                            <button
                                              class="btn btn-link dropdown-toggle"
                                              type="button"
                                              id="gedf-drop11"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false"
                                            >
                                              <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                                              <div class="h6 dropdown-header">
                                                <span jhiTranslate="awtarApp.family.settings">Settings</span>
                                              </div>
                                              <a class="dropdown-item" href="#"
                                                ><span jhiTranslate="awtarApp.family.addDonation">Add Donation</span></a
                                              >
                                              <a class="dropdown-item" href="#"
                                                ><span jhiTranslate="awtarApp.family.archive">Delete</span></a
                                              >
                                              <a class="dropdown-item" href="#"
                                                ><span jhiTranslate="awtarApp.family.generateReport">Report</span></a
                                              >
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div *ngIf="donationList && donationList.length > 0" style="margin: 1rem">
                                        <p-table
                                          #dt
                                          [value]="donationList!"
                                          selectionMode="single"
                                          [(selection)]="selectedDon"
                                          dataKey="id"
                                          [rowHover]="true"
                                          [rows]="5"
                                          [showCurrentPageReport]="true"
                                          [rowsPerPageOptions]="[5, 10, 20]"
                                          currentPageReportTemplate="{first} ---> {last} / {totalRecords}"
                                          [paginator]="true"
                                          styleClass="p-datatable-sm"
                                          [tableStyle]="{ width: '30rem' }"
                                          [filterDelay]="0"
                                          [globalFilterFields]="['model', 'isValidated', 'donationsDate', 'itemQuantities']"
                                        >
                                          <ng-template pTemplate="caption">
                                            <div class="table-header">
                                              <div class="flex" style="text-align: right">
                                                <span class="p-input-icon-left ml-auto">
                                                  <i class="pi pi-search" style="margin-left: 12rem"></i>
                                                  <input
                                                    pInputText
                                                    type="text"
                                                    (input)="dt.filterGlobal($any($event.target).value!, 'contains')"
                                                    placeholder="Recherche Globale"
                                                  />
                                                </span>
                                              </div>
                                            </div>
                                          </ng-template>
                                          <ng-template pTemplate="header">
                                            <tr>
                                              <th pSortableColumn="model" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                  <span jhiTranslate="awtarApp.donationsIssued.model">Model</span>
                                                  <p-sortIcon field="model"></p-sortIcon>
                                                  <p-columnFilter type="text" field="model" display="menu" class="ml-auto"></p-columnFilter>
                                                </div>
                                              </th>
                                              <th pSortableColumn="isValidated" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                  <span jhiTranslate="awtarApp.donationsIssued.isValidated">Validation Date</span>
                                                  <p-sortIcon field="isValidated"></p-sortIcon>
                                                  <p-columnFilter
                                                    type="text"
                                                    field="isValidated"
                                                    display="menu"
                                                    class="ml-auto"
                                                  ></p-columnFilter>
                                                </div>
                                              </th>

                                              <th pSortableColumn="donationsDate" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                  <span jhiTranslate="awtarApp.donationsIssued.donationsDate">Donations Date</span>
                                                  <p-sortIcon field="donationsDate"></p-sortIcon>
                                                  <p-columnFilter
                                                    type="text"
                                                    field="donationsDate"
                                                    display="menu"
                                                    class="ml-auto"
                                                  ></p-columnFilter>
                                                </div>
                                              </th>

                                              <th pSortableColumn="itemQuantities" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                  <span jhiTranslate="awtarApp.donationsIssued.itemQuantities">Item Quantities</span>
                                                  <p-sortIcon field="itemQuantities"></p-sortIcon>
                                                  <p-columnFilter
                                                    type="text"
                                                    field="itemQuantities"
                                                    display="menu"
                                                    class="ml-auto"
                                                  ></p-columnFilter>
                                                </div>
                                              </th>

                                              <th style="width: 5rem"></th>
                                            </tr>
                                          </ng-template>
                                          <ng-template pTemplate="body" let-don>
                                            <tr [pSelectableRow]="don">
                                              <td>
                                                <span class="p-column-title" jhiTranslate="awtarApp.donationsIssued.model">Model</span>
                                                {{ don.model }}
                                              </td>

                                              <td>
                                                <span class="p-column-title" jhiTranslate="awtarApp.donationsIssued.isValidated"
                                                  >Validation Date</span
                                                >

                                                <span class="badge" *ngIf="don.isValidated === true" style="background-color: #08cd67">
                                                  {{ don.isValidated }}</span
                                                >
                                                <span class="badge" *ngIf="don.isValidated === false" style="background-color: #cd1f08">
                                                  {{ don.isValidated }}</span
                                                >
                                              </td>

                                              <td>
                                                <span class="p-column-title" jhiTranslate="awtarApp.donationsIssued.donationsDate"
                                                  >Donations Date</span
                                                >
                                                <span class="badge" style="background-color: #fc00ff">
                                                  {{ don.donationsDate | formatMediumDate }}</span
                                                >
                                              </td>

                                              <td>
                                                <span class="p-column-title" jhiTranslate="awtarApp.donationsIssued.itemQuantities"
                                                  >Item Quantities</span
                                                >
                                                {{ don.itemQuantities }}
                                              </td>

                                              <td style="text-align: center">
                                                <button
                                                  type="submit"
                                                  [routerLink]="['/donations-issued', don.id, 'view']"
                                                  class="btn btn-info btn-sm"
                                                  data-cy="entityDetailsButton"
                                                >
                                                  <fa-icon icon="eye"></fa-icon>
                                                </button>
                                              </td>
                                            </tr>
                                          </ng-template>
                                          <ng-template pTemplate="emptymessage">
                                            <tr>
                                              <td colspan="8">
                                                <span jhiTranslate="awtarApp.family.noDonationsFound">No Donations found.</span>
                                              </td>
                                            </tr>
                                          </ng-template>
                                        </p-table>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="tab-pane" id="settings">
                        <jhi-establishment-update></jhi-establishment-update>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
