<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-donations-received-heading"
        data-cy="DonationsReceivedCreateUpdateHeading"
        jhiTranslate="awtarApp.donationsReceived.home.createOrEditLabel"
      >
        Create or edit a Donations Received
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationsReceived.urlPhoto" for="field_urlPhoto">Url Photo</label>
          <div>
            <img
              [src]="'data:' + editForm.get('urlPhotoContentType')!.value + ';base64,' + editForm.get('urlPhoto')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('urlPhoto')!.value"
              alt="donationsReceived image"
            />
            <div *ngIf="editForm.get('urlPhoto')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('urlPhotoContentType')!.value }}, {{ byteSize(editForm.get('urlPhoto')!.value) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('urlPhoto', 'urlPhotoContentType', 'file_urlPhoto')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_urlPhoto"
              data-cy="urlPhoto"
              (change)="setFileData($event, 'urlPhoto', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="urlPhoto" id="field_urlPhoto" data-cy="urlPhoto" formControlName="urlPhoto" />
          <input
            type="hidden"
            class="form-control"
            name="urlPhotoContentType"
            id="field_urlPhotoContentType"
            formControlName="urlPhotoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationsReceived.archivated" for="field_archivated">Archivated</label>
          <input
            type="checkbox"
            class="form-check"
            name="archivated"
            id="field_archivated"
            data-cy="archivated"
            formControlName="archivated"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationsReceived.authorizingOfficer" for="field_authorizingOfficer"
            >Authorizing Officer</label
          >
          <select
            class="form-control"
            id="field_authorizingOfficer"
            data-cy="authorizingOfficer"
            name="authorizingOfficer"
            formControlName="authorizingOfficer"
          >
            <option *ngIf="!editForm.get('authorizingOfficer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                authorizingOfficerOption.id === editForm.get('authorizingOfficer')!.value?.id
                  ? editForm.get('authorizingOfficer')!.value
                  : authorizingOfficerOption
              "
              *ngFor="let authorizingOfficerOption of authorizingOfficersSharedCollection; trackBy: trackAuthorizingOfficerById"
            >
              {{ authorizingOfficerOption.abbreviation }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['authorizingOfficer'])!.invalid &&
            (editForm.get(['authorizingOfficer'])!.dirty || editForm.get(['authorizingOfficer'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['authorizingOfficer'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
