<div class="d-flex">
  <div class="col-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column">
                  <div class="card">
                    <div class="card-header text-white bg-warning">
                      <h3 class="card-title">Establishment</h3>
                    </div>

                    <div>
                      <div class="card-body">
                        <div class="form-group">
                          <label class="form-label" jhiTranslate="awtarApp.establishment.name" for="field_name">Name</label>
                          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
                          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                            <small
                              class="form-text text-danger"
                              *ngIf="editForm.get('name')?.errors?.required"
                              jhiTranslate="entity.validation.required"
                            >
                              This field is required.
                            </small>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label" jhiTranslate="awtarApp.establishment.activity" for="field_activity">Activity</label>
                          <input
                            type="text"
                            class="form-control"
                            name="activity"
                            id="field_activity"
                            data-cy="activity"
                            formControlName="activity"
                          />
                        </div>
                        <div class="form-group">
                          <label class="form-label" jhiTranslate="awtarApp.establishment.manager" for="field_manager">Manager</label>
                          <input
                            type="text"
                            class="form-control"
                            name="manager"
                            id="field_manager"
                            data-cy="manager"
                            formControlName="manager"
                          />
                        </div>
                        <div class="form-group">
                          <label class="form-label" jhiTranslate="awtarApp.establishment.managerCin" for="field_managerCin"
                            >Manager Cin</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="managerCin"
                            id="field_managerCin"
                            data-cy="managerCin"
                            formControlName="managerCin"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="card">
                  <div class="card-header text-white bg-warning">
                    <h3 class="card-title">Cordonnées</h3>
                  </div>

                  <div class="card-body">
                    <div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.contact" for="field_contact">Contact</label>
                            <input
                              type="text"
                              class="form-control"
                              name="contact"
                              id="field_contact"
                              data-cy="contact"
                              formControlName="contact"
                            />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.adress" for="field_adress">Adress</label>
                            <input
                              type="text"
                              class="form-control"
                              name="adress"
                              id="field_adress"
                              data-cy="adress"
                              formControlName="adress"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.cp" for="field_cp">Cp</label>
                            <input type="text" class="form-control" name="cp" id="field_cp" data-cy="cp" formControlName="cp" />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.region" for="field_region">Region</label>
                            <input
                              type="text"
                              class="form-control"
                              name="region"
                              id="field_region"
                              data-cy="region"
                              formControlName="region"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.phone" for="field_phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.fax" for="field_fax">Fax</label>
                            <input type="text" class="form-control" name="fax" id="field_fax" data-cy="fax" formControlName="fax" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.email" for="field_email">Email</label>
                            <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="form-label" jhiTranslate="awtarApp.establishment.site" for="field_site">Site</label>
                            <input type="text" class="form-control" name="site" id="field_site" data-cy="site" formControlName="site" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="card">
                      <div class="card-header text-white bg-warning">
                        <h3 class="card-title">Remark</h3>
                      </div>

                      <div class="card-body">
                        <div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="form-label" jhiTranslate="awtarApp.establishment.remark" for="field_remark">Remark</label>
                                <textarea
                                  type="text"
                                  rows="5"
                                  class="form-control"
                                  name="remark"
                                  id="field_remark"
                                  data-cy="remark"
                                  formControlName="remark"
                                ></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="d-flex flex-column">
                      <div class="card card">
                        <div class="card-header text-white bg-warning">
                          <h3 class="card-title">About</h3>
                        </div>

                        <div>
                          <div class="card-body">
                            <div class="form-group">
                              <label
                                class="form-label"
                                jhiTranslate="awtarApp.establishment.establishmentType"
                                for="field_establishmentType"
                                >Establishment Type</label
                              >
                              <select
                                class="form-control"
                                id="field_establishmentType"
                                data-cy="establishmentType"
                                name="establishmentType"
                                formControlName="establishmentType"
                              >
                                <option *ngIf="!editForm.get('establishmentType')!.value" [ngValue]="null" selected></option>
                                <option
                                  [ngValue]="
                                    establishmentTypeOption.id === editForm.get('establishmentType')!.value?.id
                                      ? editForm.get('establishmentType')!.value
                                      : establishmentTypeOption
                                  "
                                  *ngFor="
                                    let establishmentTypeOption of establishmentTypesSharedCollection;
                                    trackBy: trackEstablishmentTypeById
                                  "
                                >
                                  {{ establishmentTypeOption.typeName }}
                                </option>
                              </select>
                              <div
                                *ngIf="
                                  editForm.get(['establishmentType'])!.invalid &&
                                  (editForm.get(['establishmentType'])!.dirty || editForm.get(['establishmentType'])!.touched)
                                "
                              >
                                <small
                                  class="form-text text-danger"
                                  *ngIf="editForm.get(['establishmentType'])?.errors?.required"
                                  jhiTranslate="entity.validation.required"
                                >
                                  This field is required.
                                </small>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label" jhiTranslate="awtarApp.establishment.city" for="field_city">City</label>
                              <select class="form-control" id="field_city" data-cy="city" name="city" formControlName="city">
                                <option *ngIf="!editForm.get('city')!.value" [ngValue]="null" selected></option>
                                <option
                                  [ngValue]="cityOption.id === editForm.get('city')!.value?.id ? editForm.get('city')!.value : cityOption"
                                  *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
                                >
                                  {{ cityOption.name }}
                                </option>
                              </select>
                              <div
                                *ngIf="
                                  editForm.get(['city'])!.invalid && (editForm.get(['city'])!.dirty || editForm.get(['city'])!.touched)
                                "
                              >
                                <small
                                  class="form-text text-danger"
                                  *ngIf="editForm.get(['city'])?.errors?.required"
                                  jhiTranslate="entity.validation.required"
                                >
                                  This field is required.
                                </small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
