<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="schoolLevel">
      <h2 data-cy="schoolLevelDetailsHeading"><span jhiTranslate="awtarApp.schoolLevel.detail.title">School Level</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ schoolLevel.id }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.schoolLevel.schoolLevel">School Level</span></dt>
        <dd>
          <span>{{ schoolLevel.schoolLevel }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.schoolLevel.archivated">Archivated</span></dt>
        <dd>
          <span>{{ schoolLevel.archivated }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/school-level', schoolLevel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
