<div>
  <h2 style="margin-top: 4rem; margin-bottom: 2rem" id="page-heading" data-cy="CompositeItemHeading">
    <span jhiTranslate="awtarApp.compositeItem.home.title">Composite Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="awtarApp.compositeItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-composite-item"
        [routerLink]="['/composite-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="awtarApp.compositeItem.home.createLabel"> Create a new Composite Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="compositeItems?.length === 0">
    <span jhiTranslate="awtarApp.compositeItem.home.notFound">No compositeItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="compositeItems && compositeItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity">
            <span jhiTranslate="awtarApp.compositeItem.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="archivated">
            <span jhiTranslate="awtarApp.compositeItem.archivated">Archivated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="composant.name">
            <span jhiTranslate="awtarApp.compositeItem.composant">Composant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="composer.name">
            <span jhiTranslate="awtarApp.compositeItem.composer">Composer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compositeItem of compositeItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/composite-item', compositeItem.id, 'view']">{{ compositeItem.id }}</a>
          </td>
          <td>{{ compositeItem.quantity }}</td>
          <td>{{ compositeItem.archivated }}</td>
          <td>
            <div *ngIf="compositeItem.composant">
              <a [routerLink]="['/item', compositeItem.composant?.id, 'view']">{{ compositeItem.composant?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="compositeItem.composer">
              <a [routerLink]="['/item', compositeItem.composer?.id, 'view']">{{ compositeItem.composer?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/composite-item', compositeItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/composite-item', compositeItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(compositeItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="compositeItems && compositeItems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
