<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

    <title>AdminLTE 3 | Dashboard</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../content/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
      </div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ account?.login }}</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a [routerLink]="['admin-dashboard/dashboard']" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-header">BENEFICIARIES</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    Families
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/family']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Families</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/family/add']" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Family</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    Children
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['admin-dashboard/children']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Chilfren</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Child</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    Establishments
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Establishments</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p>Add Establishment</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    Donations Issued
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    Donations Received
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS Items</li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    Items
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Items</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Item</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Status Item</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">REFERENCE TABLE</li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Establishments Types</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Citys</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Health Categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Nature</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>School Level</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Educational Institutions</p>
                </a>
              </li>

              <li class="nav-header">CONTRIBUTORS</li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    Authorizing Officers
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Authorizing Officers</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Authorizing Officer</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper" style="margin-top: -3rem">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Edit Tutor</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="#">Contributor</a></li>
                  <li class="breadcrumb-item active">Edit Tutor</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="container mt-3 mb-4">
              <div class="col-lg-12 mt-4 mt-lg-0">
                <div class="row">
                  <div class="col-md-12">
                    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                      <table class="table manage-candidates-top mb-0">
                        <tbody *ngIf="Tutor">
                          <tr class="candidates-list">
                            <td class="title">
                              <div class="thumb">
                                <img *ngIf="!Tutor" class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" />
                                <a (click)="openFile(Tutor.urlPhoto!, Tutor.urlPhotoContentType!)">
                                  <img
                                    [src]="'data:' + Tutor.urlPhotoContentType + ';base64,' + Tutor.urlPhoto"
                                    class="img-fluid"
                                    style="max-width: 100%"
                                    alt="Tutor.body? image"
                                  />
                                </a>
                              </div>
                              <div class="candidate-list-details">
                                <div class="candidate-list-info">
                                  <div class="candidate-list-title" style="display: flex">
                                    <h6 class="mb-0 mr-2">
                                      <a [routerLink]="['/tutor', Tutor.tutor!.id!, 'view']">{{ Tutor.lastName }} {{ Tutor.firstName }}</a>
                                    </h6>
                                    <span class="badge" style="background-color: #fc00ff">Current Tutor </span>
                                  </div>
                                  <div class="candidate-list-option">
                                    <ul class="list-unstyled">
                                      <li><i class="fas fa-filter pr-1"></i>{{ activity! }}</li>
                                      <li><i class="fas fa-map-marker-alt pr-1"></i>{{ Tutor.address }}</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="card">
                        <p-table
                          #dt2
                          [value]="profiles!"
                          dataKey="id"
                          [rows]="3"
                          [rowHover]="true"
                          [showCurrentPageReport]="true"
                          [rowsPerPageOptions]="[3, 10, 20]"
                          [paginator]="true"
                          currentPageReportTemplate=" {first} ---> {last} / {totalRecords} "
                          [globalFilterFields]="['lastName', 'firstName', 'activity', 'address']"
                        >
                          <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between" style="display: flex">
                              <h5 class="m-0" style="color: rgb(219, 28, 158)">
                                There are {{ profiles ? profiles.length : 0 }} Other Authorizing Officers
                              </h5>
                            </div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th><span jhiTranslate="awtarApp.profile.lastName">lastName</span></th>
                              <th><span jhiTranslate="awtarApp.profile.firstName">firstName</span></th>
                              <th><span jhiTranslate="awtarApp.authorizingOfficer.activity">activity</span></th>
                              <th><span jhiTranslate="awtarApp.profile.address">address</span></th>

                              <th><span>Action</span></th>
                            </tr>
                            <tr>
                              <th>
                                <p-columnFilter type="text" field="lastName"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="firstName"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="activity"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="address"></p-columnFilter>
                              </th>
                              <th></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-o>
                            <tr style="text-align: center">
                              <td style="display: flex">
                                <div class="thumb">
                                  <img
                                    *ngIf="!o.urlPhoto"
                                    class="img-fluid"
                                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                                    alt=""
                                    width="60"
                                    style="border-radius: 50%; margin-left: 1rem; margin-right: 1rem"
                                  />
                                  <a (click)="openFile(o.urlPhoto!, o.urlPhotoContentType!)">
                                    <img
                                      [src]="'data:' + o.urlPhotoContentType + ';base64,' + o.urlPhoto"
                                      width="50"
                                      height="40"
                                      style="border-radius: 50%; margin-left: 1rem; margin-right: 1rem"
                                      alt="o.body? image"
                                    />
                                  </a>
                                </div>
                                <div class="candidate-list-details">
                                  <div class="candidate-list-info">
                                    <div class="candidate-list-title">
                                      <h6 class="title">
                                        <a [routerLink]="['/tutor', o.id!, 'view']">{{ o.lastName }} {{ o.firstName }}</a>
                                      </h6>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td></td>
                              <td>
                                <div class="candidate-list-details">
                                  <div class="candidate-list-info">
                                    <div class="candidate-list-option">
                                      <ul class="list-unstyled" style="display: flex">
                                        <li *ngIf="o.activity"><i class="fas fa-filter pr-1"></i>{{ o.activity! }}</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="candidate-list-details">
                                  <div class="candidate-list-info">
                                    <div class="candidate-list-option">
                                      <ul class="list-unstyled" style="display: flex">
                                        <li *ngIf="o.address"><i class="fas fa-map-marker-alt pr-1"></i>{{ o.address }}</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </td>

                              <td>
                                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                  <button (click)="edit(o)" type="button" class="btn btn-warning">Affect</button>
                                </ul>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="5">No Tutor found.</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
