<div>
  <h2 id="page-heading" data-cy="DonationDetailsHeading">
    <span jhiTranslate="awtarApp.donationDetails.home.title">Donation Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="awtarApp.donationDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-donation-details"
        [routerLink]="['/donation-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="awtarApp.donationDetails.home.createLabel"> Create a new Donation Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="donationDetails?.length === 0">
    <span jhiTranslate="awtarApp.donationDetails.home.notFound">No donationDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="donationDetails && donationDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="awtarApp.donationDetails.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="archivated">
            <span jhiTranslate="awtarApp.donationDetails.archivated">Archivated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="donationsIssued.id">
            <span jhiTranslate="awtarApp.donationDetails.donationsIssued">Donations Issued</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nature.name">
            <span jhiTranslate="awtarApp.donationDetails.nature">Nature</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="beneficiary.beneficiaryReference">
            <span jhiTranslate="awtarApp.donationDetails.beneficiary">Beneficiary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donationDetails of donationDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/donation-details', donationDetails.id, 'view']">{{ donationDetails.id }}</a>
          </td>
          <td>{{ donationDetails.description }}</td>
          <td>{{ donationDetails.archivated }}</td>
          <td>
            <div *ngIf="donationDetails.donationsIssued">
              <a [routerLink]="['/donations-issued', donationDetails.donationsIssued?.id, 'view']">{{
                donationDetails.donationsIssued?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="donationDetails.nature">
              <a [routerLink]="['/nature', donationDetails.nature?.id, 'view']">{{ donationDetails.nature?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="donationDetails.beneficiary">
              <a [routerLink]="['/beneficiary', donationDetails.beneficiary?.id, 'view']">{{
                donationDetails.beneficiary?.beneficiaryReference
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/donation-details', donationDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/donation-details', donationDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(donationDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="donationDetails && donationDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
