<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="establishmentType">
      <h2 style="margin-top: 4rem; margin-bottom: 2rem" data-cy="establishmentTypeDetailsHeading">
        <span jhiTranslate="awtarApp.establishmentType.detail.title">Establishment Type</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ establishmentType.id }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.establishmentType.typeName">Type Name</span></dt>
        <dd>
          <span>{{ establishmentType.typeName }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.establishmentType.archivated">Archivated</span></dt>
        <dd>
          <span>{{ establishmentType.archivated }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/establishment-type', establishmentType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
