<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
</head>

<div>
  <div style="margin-top: 4rem; margin-bottom: 2rem">
    <h2 id="page-heading" data-cy="FamilyHeading">
      <span style="margin-left: 41rem" jhiTranslate="awtarApp.family.home.title">Families</span>
    </h2>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
      <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      <span jhiTranslate="awtarApp.family.home.refreshListLabel">Refresh List</span>
    </button>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-family"
      [routerLink]="['/family/add']"
      style="margin-right: 1rem"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="awtarApp.family.home.createLabel"> Create a new Family </span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="families?.length === 0">
    <span jhiTranslate="awtarApp.family.home.notFound">No families found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="families && families.length > 0" style="margin-left: 1rem; margin-right: 1rem">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="familyName">
            <span jhiTranslate="awtarApp.family.familyName">Family Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dwelling">
            <span jhiTranslate="awtarApp.family.dwelling">Dwelling</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="area"><span jhiTranslate="awtarApp.family.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="notebookOfPoverty">
            <span jhiTranslate="awtarApp.family.notebookOfPoverty">Notebook Of Poverty</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notebookOfHandicap">
            <span jhiTranslate="awtarApp.family.notebookOfHandicap">Notebook Of Handicap</span> <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let family of families; trackBy: trackId" data-cy="entityTable">
          <td>{{ family.familyName }}</td>
          <td>{{ family.dwelling }}</td>
          <td>{{ family.area }}</td>
          <td>{{ family.notebookOfPoverty }}</td>
          <td>{{ family.notebookOfHandicap }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                style="margin-right: 0.5rem; height: 2rem; width: 3rem"
                type="submit"
                [routerLink]="['/family', family.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
              </button>

              <button
                style="margin-right: 0.5rem; height: 2rem; width: 3rem"
                type="submit"
                [routerLink]="['/family', family.id, 'edit']"
                class="btn btn-warning"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>

              <button
                style="margin-right: 0.5rem; height: 2rem; width: 3rem"
                type="submit"
                [routerLink]="['/family', family.id, 'view']"
                class="btn btn-secondary"
                data-cy="entityDetailsButton"
              >
                <span class="material-icons-sharp">volunteer_activism</span>
              </button>

              <button
                style="margin-right: 0.5rem; height: 2rem; width: 3rem"
                type="submit"
                (click)="delete(family)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="families && families.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
