<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

    <title>AdminLTE 3 | Dashboard</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center"></div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ account?.login }}</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a href="dashboard" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p><span jhiTranslate="dashboard.dashboard">Dashboard</span></p>
                </a>
              </li>
              <li class="nav-header"><span jhiTranslate="dashboard.beneficiaries">BENEFICIARIES</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    <span jhiTranslate="dashboard.families">Families</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/family" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfFamilies">List of Families</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/family/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addFamily">Add Family</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    <span jhiTranslate="dashboard.children">Children</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/child" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfChildren">List Of Chilfren</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="child/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addChild">Add Child</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    <span jhiTranslate="dashboard.establishments">Establishments</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/establishment" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfEstablishments">List Of Establishments</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/establishment/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p><span jhiTranslate="dashboard.addEstablishment">Add Establishment</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donations">DONATIONS</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsIssued">Donations Issued</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-issued" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsIssued">List of Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-issued/add-any-donations" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsIssued">Add Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsReceived">Donations Received</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-received" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsReceived">List Of Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-received/new" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsReceived">Add Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donationsItems">DONATIONS Items</span></li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    <span jhiTranslate="dashboard.items">Items</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/item" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfItems">List of Items</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/item/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addItem">Add Item</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statusOfItem">Status Item</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.referenceTable">REFERENCE TABLE</span></li>

              <li class="nav-item">
                <a href="establishment-type" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.establishmentsTypes">Establishments Types</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/city" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.Citys">Citys</span></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.healthCategories">Health Categories</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/nature" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.natureOfDonOrItem">Nature</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/school-level" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.schoolLevels">School Level</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/educational-institution" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.educationInstitutions">Educational Institutions</span></p>
                </a>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.contributors">CONTRIBUTORS</span></li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    <span jhiTranslate="dashboard.authorizingOfficers">Authorizing Officers</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a routerLink="/authorizing-officer" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfAuthorizingOfficers">List Of Authorizing Officers</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/authorizing-officer/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addAuthorizingOfficer">Add Authorizing Officer</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    <span jhiTranslate="dashboard.tutors">Tutors</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/tutor" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfTutors">List Of Tutors</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/tutor/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addTutor">Add Tutor</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item"></li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <p-toast></p-toast>

            <div class="card" style="margin: 1rem">
              <p-toolbar styleClass="mb-4" *ngIf="item">
                <ng-template pTemplate="left">
                  <dl>
                    <div class="flex align-items-center justify-content-between" style="display: flex">
                      <div>
                        <dd>
                          <div *ngIf="item.urlPhoto">
                            <a (click)="openFile(item.urlPhoto, item.urlPhotoContentType)">
                              <img
                                [src]="'data:' + item.urlPhotoContentType + ';base64,' + item.urlPhoto"
                                style="max-width: 100px; max-height: 130px"
                                alt="item image"
                              />
                            </a>
                          </div>
                        </dd>
                      </div>
                      <div>
                        <div style="margin: 1rem">
                          <dt><span jhiTranslate="awtarApp.item.name">Name</span></dt>
                          <dd>
                            <span>{{ item.name }}</span>
                          </dd>

                          <dt><span jhiTranslate="awtarApp.item.gender">Gender</span></dt>
                          <dd>
                            <span jhiTranslate="{{ 'awtarApp.ItemGender.' + item.gender }}">{{ item.gender }}</span>
                          </dd>
                        </div>
                      </div>
                      <div>
                        <div class="flex align-items-center justify-content-between" style="margin: 1rem">
                          <dt><span jhiTranslate="awtarApp.itemValue.price">Price</span></dt>
                          <dd>
                            <span>{{ price.price }}</span>
                          </dd>

                          <dt><span jhiTranslate="awtarApp.itemValue.priceDate">Price Date</span></dt>
                          <dd>
                            <span>{{ price.priceDate | formatMediumDate }}</span>
                          </dd>
                        </div>
                      </div>
                      <div>
                        <div class="flex align-items-center justify-content-between" style="margin: 1rem">
                          <dt><span jhiTranslate="awtarApp.item.nature">Nature</span></dt>
                          <dd>
                            <div *ngIf="item.nature">
                              <span>{{ item.nature?.name }}</span>
                              <i
                                class="far fa-eye"
                                [routerLink]="['/nature', item.nature?.id, 'view']"
                                style="cursor: pointer; color: rgb(239, 47, 223)"
                              ></i>
                            </div>
                          </dd>
                          <dt><span jhiTranslate="awtarApp.itemValue.availableStockQuantity">Available Stock Quantity</span></dt>
                          <dd>
                            <span>{{ price.availableStockQuantity }}</span>
                          </dd>
                        </div>
                      </div>
                    </div>
                  </dl>
                </ng-template>

                <ng-template pTemplate="right">
                  <div class="field text-center" style="display: flex">
                    <div style="display: grid; text-align: center; margin-right: 1rem">
                      <label for="quantity" style="margin-right: 1rem">Quantité à ajouter</label>
                      <input
                        type="number"
                        name="quantity"
                        id="field_quantity"
                        [(ngModel)]="quantity"
                        data-cy="quantity"
                        class="form-control"
                        style="width: 9rem; text-align: center"
                      />
                    </div>
                    <button pButton pRipple icon="pi pi-plus" class="p-button-success mr-2" (click)="AddItem()"></button>
                  </div>
                </ng-template>
              </p-toolbar>

              <p-table
                #dt
                [value]="products"
                [rows]="5"
                [paginator]="true"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                responsiveLayout="scroll"
                [(selection)]="selectedProducts"
                [rowHover]="true"
                dataKey="id"
                [rowsPerPageOptions]="[5, 10, 20]"
                currentPageReportTemplate=" {first} --->{last} / {totalRecords}"
                [showCurrentPageReport]="true"
              >
                <ng-template pTemplate="caption" style="background-color: rgb(241, 148, 235)">
                  <div class="flex align-items-center justify-content-between" style="display: flex">
                    <h5 class="m-0" style="color: rgb(219, 28, 158)">Il y'a {{ products ? products.length : 0 }} en totale</h5>
                    <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal($any($event.target).value!, 'contains')"
                        placeholder="Rechercher..."
                      />
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name">
                      <span jhiTranslate="awtarApp.item.name">Name</span><p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th>Photo</th>
                    <th pSortableColumn="price">
                      <span jhiTranslate="awtarApp.itemValue.price">Price</span> <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="category">
                      <span jhiTranslate="awtarApp.itemValue.priceDate">Price Date</span> <p-sortIcon field="category"></p-sortIcon>
                    </th>
                    <th pSortableColumn="composed">
                      <span jhiTranslate="awtarApp.item.composed"><span jhiTranslate="awtarApp.item.composed">Composed</span></span>
                    </th>
                    <th pSortableColumn="rating">
                      <span jhiTranslate="awtarApp.itemValue.availableStockQuantity">Available Stock Quantity</span>
                      <p-sortIcon field="rating"></p-sortIcon>
                    </th>
                    <th pSortableColumn="inventoryStatus">
                      <span jhiTranslate="awtarApp.item.gender">Gender</span><p-sortIcon field="inventoryStatus"></p-sortIcon>
                    </th>
                    <th>Mettre à jour prix</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>{{ product.name }}</td>
                    <td>
                      <img
                        [src]="'data:' + product.urlPhotoContentType + ';base64,' + product.urlPhoto"
                        width="50"
                        class="shadow-4"
                        alt="item image"
                      />
                    </td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.priceDate }}</td>
                    <td>
                      <span class="badge" *ngIf="product.composed === true" style="background-color: #08cd67">
                        <span jhiTranslate="awtarApp.family.true">Yes</span></span
                      >
                      <span class="badge" *ngIf="product.composed === false" style="background-color: #cd1f08">
                        <span jhiTranslate="awtarApp.family.false">false</span></span
                      >
                      <span class="badge" *ngIf="product.composed === null" style="background-color: #cd1f08">
                        <span jhiTranslate="awtarApp.family.false">false</span></span
                      >
                    </td>
                    <td>{{ product.quantity }}</td>
                    <td>
                      <span jhiTranslate="{{ 'awtarApp.ItemGender.' + product.gender }}">{{ product.gender }}</span>
                    </td>
                    <td>
                      <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editProduct(product)"
                      ></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">
                    Il y'a {{ products ? products.length : 0 }} article en totale.
                  </div>
                </ng-template>
              </p-table>
            </div>
            <form name="editForm" role="form" novalidate [formGroup]="editForm">
              <p-dialog
                [(visible)]="productDialog"
                [style]="{ width: '450px' }"
                header="Mettre à jour prix"
                [modal]="true"
                styleClass="p-fluid"
              >
                <ng-template pTemplate="content">
                  <div class="img text-center">
                    <img
                      *ngIf="product.id!"
                      [src]="'data:' + product.urlPhotoContentType + ';base64,' + product.urlPhoto"
                      width="100"
                      class="shadow-4"
                      alt="item image"
                    />
                  </div>
                  <div class="field text-center">
                    <label for="name"><span jhiTranslate="awtarApp.item.name">Name</span></label>
                    <span>{{ product.name }}</span>
                  </div>

                  <div class="formgrid grid">
                    <div class="field col">
                      <label for="price"><span jhiTranslate="awtarApp.itemValue.price">Price</span></label>

                      <p-inputNumber
                        name="price"
                        id="field_price"
                        mode="decimal"
                        [showButtons]="true"
                        [(ngModel)]="product.price"
                        data-cy="price"
                        formControlName="price"
                      ></p-inputNumber>
                      <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small
                          class="form-text text-danger"
                          *ngIf="editForm.get('price')?.errors?.required"
                          jhiTranslate="entity.validation.required"
                        >
                          This field is required.
                        </small>
                        <small
                          class="form-text text-danger"
                          [hidden]="!editForm.get('price')?.errors?.number"
                          jhiTranslate="entity.validation.number"
                        >
                          This field should be a number.
                        </small>
                      </div>
                    </div>
                    <div class="field col">
                      <label class="form-label" jhiTranslate="awtarApp.itemValue.priceDate" for="field_priceDate"
                        ><span jhiTranslate="awtarApp.itemValue.priceDate">Price Date</span></label
                      >
                      <div class="input-group">
                        <input
                          id="field_priceDate"
                          data-cy="priceDate"
                          type="text"
                          class="form-control"
                          name="priceDate"
                          ngbDatepicker
                          #priceDateDp="ngbDatepicker"
                          formControlName="priceDate"
                          [(ngModel)]="product.priceDate"
                        />
                        <button type="button" class="btn btn-secondary" (click)="priceDateDp.toggle()">
                          <fa-icon icon="calendar-alt"></fa-icon>
                        </button>
                      </div>
                      <div
                        *ngIf="
                          editForm.get('priceDate')!.invalid && (editForm.get('priceDate')!.dirty || editForm.get('priceDate')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="editForm.get('priceDate')?.errors?.required"
                          jhiTranslate="entity.validation.required"
                        >
                          This field is required.
                        </small>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template pTemplate="footer">
                  <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                  <button pButton pRipple label="Sauvegarder" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                </ng-template>
              </p-dialog>

              <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
            </form>
          </div>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
