<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="donationsReceivedItem">
      <h2 data-cy="donationsReceivedItemDetailsHeading">
        <span jhiTranslate="awtarApp.donationsReceivedItem.detail.title">Donations Received Item</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ donationsReceivedItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.donationsReceivedItem.quantity">Quantity</span></dt>
        <dd>
          <span>{{ donationsReceivedItem.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.donationsReceivedItem.date">Date</span></dt>
        <dd>
          <span>{{ donationsReceivedItem.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.donationsReceivedItem.archivated">Archivated</span></dt>
        <dd>
          <span>{{ donationsReceivedItem.archivated }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.donationsReceivedItem.item">Item</span></dt>
        <dd>
          <div *ngIf="donationsReceivedItem.item">
            <a [routerLink]="['/item', donationsReceivedItem.item?.id, 'view']">{{ donationsReceivedItem.item?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="awtarApp.donationsReceivedItem.donationsReceived">Donations Received</span></dt>
        <dd>
          <div *ngIf="donationsReceivedItem.donationsReceived">
            <a [routerLink]="['/donations-received', donationsReceivedItem.donationsReceived?.id, 'view']">{{
              donationsReceivedItem.donationsReceived?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/donations-received-item', donationsReceivedItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
