<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="childStatus">
      <h2 data-cy="childStatusDetailsHeading" style="margin-top: 4rem; margin-bottom: 2rem">
        <span jhiTranslate="awtarApp.childStatus.detail.title">Child Status</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ childStatus.id }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.childStatus.staus">Staus</span></dt>
        <dd>
          <span jhiTranslate="{{ 'awtarApp.Status.' + childStatus.staus }}">{{ childStatus.staus }}</span>
        </dd>
        <dt><span jhiTranslate="awtarApp.childStatus.archivated">Archivated</span></dt>
        <dd>
          <span>{{ childStatus.archivated }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/child-status', childStatus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
