<div>
  <h2 id="page-heading" data-cy="ChildStatusItemHeading">
    <span jhiTranslate="awtarApp.childStatusItem.home.title">Child Status Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="awtarApp.childStatusItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-child-status-item"
        [routerLink]="['/child-status-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="awtarApp.childStatusItem.home.createLabel"> Create a new Child Status Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="childStatusItems?.length === 0">
    <span jhiTranslate="awtarApp.childStatusItem.home.notFound">No childStatusItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="childStatusItems && childStatusItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="affected">
            <span jhiTranslate="awtarApp.childStatusItem.affected">Affected</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="archivated">
            <span jhiTranslate="awtarApp.childStatusItem.archivated">Archivated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="item.name">
            <span jhiTranslate="awtarApp.childStatusItem.item">Item</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="childStatus.staus">
            <span jhiTranslate="awtarApp.childStatusItem.childStatus">Child Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let childStatusItem of childStatusItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/child-status-item', childStatusItem.id, 'view']">{{ childStatusItem.id }}</a>
          </td>
          <td>{{ childStatusItem.affected }}</td>
          <td>{{ childStatusItem.archivated }}</td>
          <td>
            <div *ngIf="childStatusItem.item">
              <a [routerLink]="['/item', childStatusItem.item?.id, 'view']">{{ childStatusItem.item?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="childStatusItem.childStatus">
              <a [routerLink]="['/child-status', childStatusItem.childStatus?.id, 'view']">{{ childStatusItem.childStatus?.staus }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/child-status-item', childStatusItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/child-status-item', childStatusItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(childStatusItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="childStatusItems && childStatusItems.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
