<html>
  <body class="animated fadeIn" style="margin-top: -2rem">
    <div class="body-overlay">
      <div class="container">
        <div class="outer-top">
          <h2 class="aka animated fadeIn" style="font-size: 60px"><a>AWTAR</a></h2>
          <div class="btn-explore"></div>
          <div class="btn-burger"><a class="" href=""></a></div>
        </div>
        <div class="leftandin animated" id="leftandin1">
          <div class="outer-left">
            <h2 class="headline animated fadeInLeft" style="font-size: 55px">La charité<br />Est notre mission</h2>
            <h3 class="title animated bounceInLeft">Awtar Association</h3>
            <p class="description animated fadeInDown delay-06s">
              Nous pouvons avoir une variété d’opinions, mais nous partageons l’objectif commun qui est l’amélioration de la Tunisie. Nous
              avons fondé notre association (Awtar) à Monastir pour renforcer l’intérêt des gens à la solidarité et de développer le
              sentiment de citoyenneté chez les personnes de différents groupes d’âge.
            </p>
            <a href="/login" class="fadeIn"
              ><button class="cta animated pulse" style="margin-top: 27rem"><p class="animated fadeIn delay-06s">Connexion</p></button></a
            >
          </div>
          <div class="inner animated fadeIn" id="inner1">
            <div class="toggler">
              <!--
                      <a class="next-article" href="#leftandin2" onclick="toggleNext();">
                          <h4 class="article-position">01</h4>
                          <img src="img/icon-next.png" height="18px" width="18px">
                      </a>
                      -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
