<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------  ---------->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <style>
      span {
        color: rgb(186, 189, 189);
      }
      i {
        color: rgb(186, 189, 189);
      }
    </style>

    <title>AdminLTE 3 | Dashboard</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../content/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
      </div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ account?.login }}</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a href="dashboard" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p><span jhiTranslate="dashboard.dashboard">Dashboard</span></p>
                </a>
              </li>
              <li class="nav-header"><span jhiTranslate="dashboard.beneficiaries">BENEFICIARIES</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    <span jhiTranslate="dashboard.families">Families</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/family" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfFamilies">List of Families</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/family/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addFamily">Add Family</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    <span jhiTranslate="dashboard.children">Children</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/child" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfChildren">List Of Chilfren</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="child/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addChild">Add Child</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    <span jhiTranslate="dashboard.establishments">Establishments</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/establishment" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfEstablishments">List Of Establishments</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/establishment/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p><span jhiTranslate="dashboard.addEstablishment">Add Establishment</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donations">DONATIONS</span></li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsIssued">Donations Issued</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-issued" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsIssued">List of Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-issued/add-any-donations" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsIssued">Add Donations Issued</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    <span jhiTranslate="dashboard.donationsReceived">Donations Received</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/donations-received" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfDonationsReceived">List Of Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/donations-received/new" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addDonationsReceived">Add Donations Received</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statistic">Statistic</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.donationsItems">DONATIONS Items</span></li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    <span jhiTranslate="dashboard.items">Items</span>
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/item" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfItems">List of Items</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/item/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addItem">Add Item</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p><span jhiTranslate="dashboard.statusOfItem">Status Item</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.referenceTable">REFERENCE TABLE</span></li>

              <li class="nav-item">
                <a href="establishment-type" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.establishmentsTypes">Establishments Types</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/city" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.Citys">Citys</span></p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.healthCategories">Health Categories</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/nature" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.natureOfDonOrItem">Nature</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/school-level" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.schoolLevels">School Level</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/educational-institution" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p><span jhiTranslate="dashboard.educationInstitutions">Educational Institutions</span></p>
                </a>
              </li>

              <li class="nav-header"><span jhiTranslate="dashboard.contributors">CONTRIBUTORS</span></li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    <span jhiTranslate="dashboard.authorizingOfficers">Authorizing Officers</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a routerLink="/authorizing-officer" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfAuthorizingOfficers">List Of Authorizing Officers</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/authorizing-officer/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addAuthorizingOfficer">Add Authorizing Officer</span></p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    <span jhiTranslate="dashboard.tutors">Tutors</span>
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/tutor" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p><span jhiTranslate="dashboard.listOfTutors">List Of Tutors</span></p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/tutor/add" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p><span jhiTranslate="dashboard.addTutor">Add Tutor</span></p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item"></li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper" style="margin-top: -3rem">
        <section class="content">
          <div class="container-fluid" style="background-color: white">
            <main>
              <div class="container emp-profile" *ngIf="item" style="margin-top: 4rem">
                <jhi-alert></jhi-alert>

                <div class="row">
                  <div class="col-md-4">
                    <div class="profile-img">
                      <img
                        *ngIf="!item.urlPhoto"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt=""
                      />
                      <img
                        *ngIf="item.urlPhoto"
                        [src]="'data:' + item.urlPhotoContentType + ';base64,' + item.urlPhoto"
                        style="max-width: 100px; max-height: 130px"
                        alt="item image"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="profile-head">
                      <div style="display: flex">
                        <h5 style="color: black">Quantité à ajouter</h5>
                        <h6>
                          <input
                            type="number"
                            name="quantity"
                            id="field_quantity"
                            style="width: 5rem; text-align: center; border-radius: 30%; margin-left: 1rem"
                            [(ngModel)]="quantity"
                            data-cy="quantity"
                          />
                        </h6>
                      </div>
                      <h5 style="color: black" jhiTranslate="awtarApp.item.name">Name</h5>
                      <h6>
                        {{ item.name }}
                      </h6>

                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a
                            class="nav-link active"
                            id="home-tab"
                            data-toggle="tab"
                            href="#home"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                            >À propos</a
                          >
                        </li>
                        <li class="nav-item" *ngIf="schoolItem">
                          <a
                            class="nav-link"
                            id="schoolItem-tab"
                            data-toggle="tab"
                            href="#schoolItem"
                            role="tab"
                            aria-controls="schoolItem"
                            aria-selected="false"
                            >Détails niveaux scolaires
                          </a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            id="profile-tab"
                            data-toggle="tab"
                            href="#profile"
                            role="tab"
                            aria-controls="profile"
                            aria-selected="false"
                            >Mettre à jour le prix</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button
                      pButton
                      pRipple
                      icon="pi pi-plus"
                      class="p-button-success mr-2"
                      label="{{ 'global.button.add.placeholder' | translate }}"
                      (click)="save()"
                    ></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="profile-work text-center"></div>
                  </div>
                  <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-md-6">
                            <label jhiTranslate="awtarApp.item.name">Name</label>
                          </div>
                          <div class="col-md-6">
                            <p>{{ item.name }}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label jhiTranslate="awtarApp.item.gender">Gender</label>
                          </div>
                          <div class="col-md-6">
                            <p jhiTranslate="{{ 'awtarApp.ItemGender.' + item.gender }}">{{ item.gender }}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label jhiTranslate="awtarApp.item.nature">Nature</label>
                          </div>
                          <div class="col-md-6">
                            <p>{{ item.nature?.name }}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label><span jhiTranslate="awtarApp.itemValue.price">Price</span></label>
                          </div>
                          <div class="col-md-6">
                            <p>{{ priceItem.price }}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <label><span jhiTranslate="awtarApp.itemValue.priceDate">Price Date</span></label>
                          </div>
                          <div class="col-md-6">
                            <p>{{ priceItem.priceDate | formatMediumDate }}</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <label jhiTranslate="awtarApp.itemValue.availableStockQuantity">Available Stock Quantity</label>
                          </div>
                          <div class="col-md-6">
                            <p>{{ priceItem.availableStockQuantity }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form class="form-horizontal" name="editForm" role="form" novalidate [formGroup]="editForm">
                          <div class="card card-info">
                            <div class="card-body">
                              <div class="form-group row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="awtarApp.itemValue.price" for="field_price"
                                  >Price</label
                                >

                                <div class="col-sm-10">
                                  <input
                                    type="number"
                                    class="form-control"
                                    name="price"
                                    id="field_price"
                                    data-cy="price"
                                    formControlName="price"
                                  />
                                  <div
                                    *ngIf="
                                      editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)
                                    "
                                  >
                                    <small
                                      class="form-text text-danger"
                                      *ngIf="editForm.get('price')?.errors?.required"
                                      jhiTranslate="entity.validation.required"
                                    >
                                      This field is required.
                                    </small>
                                    <small
                                      class="form-text text-danger"
                                      [hidden]="!editForm.get('price')?.errors?.number"
                                      jhiTranslate="entity.validation.number"
                                    >
                                      This field should be a number.
                                    </small>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="awtarApp.itemValue.priceDate" for="field_priceDate"
                                  >Price Date</label
                                >
                                <div class="col-sm-10">
                                  <div class="input-group">
                                    <input
                                      id="field_priceDate"
                                      data-cy="priceDate"
                                      type="text"
                                      class="form-control"
                                      name="priceDate"
                                      ngbDatepicker
                                      #priceDateDp="ngbDatepicker"
                                      formControlName="priceDate"
                                    />
                                    <button type="button" class="btn btn-secondary" (click)="priceDateDp.toggle()">
                                      <fa-icon icon="calendar-alt"></fa-icon>
                                    </button>
                                  </div>
                                  <div
                                    *ngIf="
                                      editForm.get('priceDate')!.invalid &&
                                      (editForm.get('priceDate')!.dirty || editForm.get('priceDate')!.touched)
                                    "
                                  >
                                    <small
                                      class="form-text text-danger"
                                      *ngIf="editForm.get('priceDate')?.errors?.required"
                                      jhiTranslate="entity.validation.required"
                                    >
                                      This field is required.
                                    </small>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10"></div>
                              </div>
                            </div>
                          </div>

                          <div class="footer text-right" style="margin-top: 2rem">
                            <button
                              pButton
                              pRipple
                              label="Annuler"
                              icon="pi pi-times"
                              class="p-button-text"
                              (click)="hideDialog()"
                            ></button>
                            <button
                              pButton
                              pRipple
                              label="Sauvegarder"
                              icon="pi pi-check"
                              class="p-button-text"
                              (click)="editPrice()"
                            ></button>
                          </div>
                        </form>
                      </div>

                      <div class="tab-pane fade" id="schoolItem" role="tabpanel" aria-labelledby="schoolItem-tab">
                        <div class="card">
                          <div *ngIf="childStatusItem" style="margin: 1rem">
                            <dt><span jhiTranslate="awtarApp.childStatus.staus">Staus</span></dt>
                            <div *ngFor="let status of childStatusItem">
                              <div style="display: flex">
                                <span jhiTranslate="{{ 'awtarApp.Status.' + status.staus }}">{{ status.staus }}</span>
                              </div>
                            </div>
                          </div>
                          <p-table
                            #dt
                            [value]="SchoolLevelInfo!"
                            styleClass="p-datatable-sm"
                            [rows]="3"
                            [showCurrentPageReport]="true"
                            [rowsPerPageOptions]="[3, 5, 10]"
                            [paginator]="true"
                            [globalFilterFields]="['schoolLevelItem', 'quantityNeeded']"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                          >
                            <ng-template pTemplate="caption" style="background-color: rgb(241, 148, 235)">
                              <div class="flex align-items-center justify-content-between" style="display: flex">
                                <h5 class="m-0" style="color: rgb(219, 28, 158)">Détails de niveaux scolaires de l'article</h5>
                                <span class="p-input-icon-left">
                                  <i class="pi pi-search"></i>
                                  <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filterGlobal($any($event.target).value!, 'contains')"
                                    placeholder="Search..."
                                  />
                                </span>
                              </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                              <tr>
                                <th pSortableColumn="schoolLevelItem">Niveau Scolaire<p-sortIcon field="schoolLevelItem"></p-sortIcon></th>
                                <th pSortableColumn="quantityNeeded">Quantité Requise<p-sortIcon field="quantityNeeded"></p-sortIcon></th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-s>
                              <tr>
                                <td>{{ s.schoolLevelItem }}</td>
                                <td>{{ s.quantityNeeded }}</td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </main>
          </div>
          <button
            style="margin-top: 3rem"
            type="submit"
            (click)="previousState()"
            class="btn btn-secondary"
            data-cy="entityDetailsBackButton"
          >
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span style="color: azure" jhiTranslate="entity.action.back">Back</span>
          </button>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
