<style>
  #msform {
    position: relative;
    margin-top: 30px;
    color: red;
  }
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 10% 10% 10% 10%;
    /*stacking fieldsets above each other*/
    position: relative;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  #msform input,
  #msform textarea {
    padding: 15px;
    border: 1px solid rgb(119, 41, 175);
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 18px;
  }

  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
  }

  #msform .chek {
    display: flex;
    padding: 2rem;
  }

  #msform .photo img {
    width: 10.8rem;
    height: 50.8rem;
    border-radius: 50%;
    overflow-x: hidden;
    margin-bottom: 2rem;
  }

  #msform label {
    text-align: left;
    font-family: montserrat;
    color: #2c3e50;
    font-size: 18px;
  }

  .container .profile {
    margin-top: 32px;
    display: grid;
    width: 98%;
    gap: 1.8rem;
    grid-template-columns: 30rem auto;
  }

  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #b667ff;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
  }

  .botton {
    align-items: center;
    margin-left: 50rem;
  }

  #msform .action-button-add {
    width: 100px;
    background: purple;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
  }

  #msform .action-button-add:hover,
  #msform .action-button-add:focus {
    box-shadow: 0 0 0 3px rgb(30, 28, 28), 0 0 0 3px purple;
  }
  #msform .action-button:hover,
  #msform .action-button:focus {
    box-shadow: 0 0 0 3px rgb(27, 25, 25), 0 0 0 3px #b667ff;
  }

  #msform .action-button-previous {
    width: 100px;
    background: #c5c5f1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
  }
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
  }
  /*headings*/
  .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 51px;
    display: block;
    font-size: 20px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #b667ff;
    color: white;
  }
  #progressbar li.inactive:before {
    background: rgb(222, 232, 38);
    color: #000;
  }
  fieldset {
    /* for chrome and safari*/
    -webkit-animation-duration: 0.25ms;
    -webkit-animation-name: slidein;
    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;
    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
  }
  @-webkit-keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  @-moz-keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @-o-keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
</style>

<form [formGroup]="ChildDetails" id="msform">
  <fieldset>
    <h1 class="fs-title" style="margin-bottom: 4rem; text-align: center; color: #b667ff">Ajouter un enfant</h1>

    <div class="row mb-3">
      <label class="form-label" jhiTranslate="awtarApp.profile.urlPhoto" for="field_urlPhoto">Url Photo</label>
      <div>
        <img
          [src]="'data:' + ChildDetails.get('urlPhotoContentType')!.value + ';base64,' + ChildDetails.get('urlPhoto')!.value"
          style="max-height: 100px"
          *ngIf="ChildDetails.get('urlPhoto')!.value"
          alt="profile image"
        />
        <div *ngIf="ChildDetails.get('urlPhoto')!.value" class="form-text text-danger clearfix">
          <span class="pull-start"
            >{{ ChildDetails.get('urlPhotoContentType')!.value }}, {{ byteSize(ChildDetails.get('urlPhoto')!.value) }}</span
          >
          <button
            type="button"
            (click)="clearInputImage('urlPhoto', 'urlPhotoContentType', 'file_urlPhoto')"
            class="btn btn-secondary btn-xs pull-end"
          >
            <fa-icon icon="times"></fa-icon>
          </button>
        </div>
        <input
          type="file"
          id="file_urlPhoto"
          data-cy="urlPhoto"
          (change)="setFileData($event, 'urlPhoto', true)"
          accept="image/*"
          jhiTranslate="entity.action.addimage"
        />
      </div>
      <input type="hidden" class="form-control" name="urlPhoto" id="field_urlPhoto" data-cy="urlPhoto" formControlName="urlPhoto" />
      <input
        type="hidden"
        class="form-control"
        name="urlPhotoContentType"
        id="field_urlPhotoContentType"
        formControlName="urlPhotoContentType"
      />
    </div>

    <div class="info1">
      <label class="form-label" jhiTranslate="awtarApp.profile.firstName" for="field_firstName">First Name</label>

      <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
      <div
        *ngIf="ChildDetails.get('firstName')!.invalid && (ChildDetails.get('firstName')!.dirty || ChildDetails.get('firstName')!.touched)"
      >
        <small
          class="form-text text-danger"
          *ngIf="ChildDetails.get('firstName')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>

      <label class="form-label" jhiTranslate="awtarApp.profile.lastName" for="field_lastName">Last Name</label>

      <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
      <div *ngIf="ChildDetails.get('lastName')!.invalid && (ChildDetails.get('lastName')!.dirty || ChildDetails.get('lastName')!.touched)">
        <small
          class="form-text text-danger"
          *ngIf="ChildDetails.get('lastName')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>

      <label
        class="form-label"
        style="text-align: right; margin-left: 70rem"
        jhiTranslate="awtarApp.profile.firstNameArabic"
        for="field_firstNameArabic"
        >First Name Arabic</label
      >

      <input
        type="text"
        class="form-control"
        name="firstNameArabic"
        id="field_firstNameArabic"
        data-cy="firstNameArabic"
        formControlName="firstNameArabic"
        style="text-align: right"
      />

      <label
        class="form-label"
        style="text-align: right; margin-left: 70rem"
        jhiTranslate="awtarApp.profile.lastNameArabic"
        for="field_lastNameArabic"
        >Last Name Arabic</label
      >

      <input
        type="text"
        class="form-control"
        name="lastNameArabic"
        id="field_lastNameArabic"
        data-cy="lastNameArabic"
        formControlName="lastNameArabic"
        style="text-align: right"
      />
    </div>
    <div class="info2">
      <label class="form-label" jhiTranslate="awtarApp.profile.gender" for="field_gender">Gender</label>
      <select class="form-control mb-3" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
        <option [ngValue]="null">{{ 'awtarApp.Gender.null' | translate }}</option>
        <option *ngFor="let gender of genderValues" [value]="gender">{{ 'awtarApp.Gender.' + gender | translate }}</option>
      </select>
      <div *ngIf="ChildDetails.get('gender')!.invalid && (ChildDetails.get('gender')!.dirty || ChildDetails.get('gender')!.touched)">
        <small class="form-text text-danger" *ngIf="ChildDetails.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">
          This field is required.
        </small>
      </div>

      <div class="input-group">
        <label class="form-label" jhiTranslate="awtarApp.profile.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>

        <input
          id="field_dateOfBirth"
          data-cy="dateOfBirth"
          type="text"
          class="form-control mb-3"
          name="dateOfBirth"
          ngbDatepicker
          #dateOfBirthDp="ngbDatepicker"
          formControlName="dateOfBirth"
        />

        <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
          <fa-icon icon="calendar-alt"></fa-icon>
        </button>
      </div>

      <div
        *ngIf="
          ChildDetails.get('dateOfBirth')!.invalid && (ChildDetails.get('dateOfBirth')!.dirty || ChildDetails.get('dateOfBirth')!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="ChildDetails.get('dateOfBirth')?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>

      <label class="form-label" jhiTranslate="awtarApp.profile.birthPlace" for="field_birthPlace">Birth Place</label>
      <select class="form-control mb-3" id="field_birthPlace" data-cy="birthPlace" name="birthPlace" formControlName="birthPlace">
        <option *ngIf="!ChildDetails.get('birthPlace')!.value" [ngValue]="null" selected></option>
        <option
          [ngValue]="cityOption.id === ChildDetails.get('birthPlace')!.value?.id ? ChildDetails.get('birthPlace')!.value : cityOption"
          *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
        >
          {{ cityOption.name }}
        </option>
      </select>

      <div
        *ngIf="
          ChildDetails.get(['birthPlace'])!.invalid &&
          (ChildDetails.get(['birthPlace'])!.dirty || ChildDetails.get(['birthPlace'])!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="ChildDetails.get(['birthPlace'])?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>
      <label class="form-label" jhiTranslate="awtarApp.profile.cin" for="field_cin">Cin</label>

      <input type="text" class="form-control" name="cin" id="field_cin" data-cy="cin" formControlName="cin" />
    </div>

    <div class="info3">
      <label class="form-label" jhiTranslate="awtarApp.profile.placeOfResidence" for="field_placeOfResidence">Place Of Residence</label>
      <select
        class="form-control mb-3"
        id="field_placeOfResidence"
        data-cy="placeOfResidence"
        name="placeOfResidence"
        formControlName="placeOfResidence"
      >
        <option *ngIf="!ChildDetails.get('placeOfResidence')!.value" [ngValue]="null" selected></option>
        <option
          [ngValue]="
            cityOption.id === ChildDetails.get('placeOfResidence')!.value?.id ? ChildDetails.get('placeOfResidence')!.value : cityOption
          "
          *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
        >
          {{ cityOption.name }}
        </option>
      </select>

      <div
        *ngIf="
          ChildDetails.get(['placeOfResidence'])!.invalid &&
          (ChildDetails.get(['placeOfResidence'])!.dirty || ChildDetails.get(['placeOfResidence'])!.touched)
        "
      >
        <small
          class="form-text text-danger"
          *ngIf="ChildDetails.get(['placeOfResidence'])?.errors?.required"
          jhiTranslate="entity.validation.required"
        >
          This field is required.
        </small>
      </div>

      <label class="form-label" jhiTranslate="awtarApp.profile.address" for="field_address">Address</label>

      <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />

      <label class="form-label" jhiTranslate="awtarApp.profile.phone" for="field_phone">Phone</label>

      <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />

      <label class="form-label" jhiTranslate="awtarApp.profile.email" for="field_email">Email</label>

      <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />

      <label class="form-label" jhiTranslate="awtarApp.profile.archivated" for="field_archivated">Archivated</label>
      <input type="checkbox" class="form-check" name="archivated" id="field_archivated" data-cy="archivated" formControlName="archivated" />
    </div>
    <div class="botton">
      <button type="submit" (click)="previousState()" class="submit action-button" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <input (click)="submit()" type="button" name="add" class="add action-button-add" value="Ajouter" />
    </div>
  </fieldset>
</form>
