<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Charles Anderson" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />

    <title>AdminLTE 3 | Dashboard</title>
    <style>
      input {
        border-width: 0.2rem;
        border-color: rgb(226, 223, 223);
        height: 2.5rem;
      }
      select {
        border-width: 0.2rem;
        border-color: rgb(226, 223, 223);
        height: 2.5rem;
      }

      .card1 {
        background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);
        border-radius: 15px;
      }
    </style>
    <script nonce="33a2bf22-55fb-4fb7-baea-4b8bb2a21cdd">
      (function (w, d) {
        !(function (a, e, t, r) {
          (a.zarazData = a.zarazData || {}),
            (a.zarazData.executed = []),
            (a.zaraz = { deferred: [] }),
            (a.zaraz.q = []),
            (a.zaraz._f = function (e) {
              return function () {
                var t = Array.prototype.slice.call(arguments);
                a.zaraz.q.push({ m: e, a: t });
              };
            });
          for (const e of ['track', 'set', 'ecommerce', 'debug']) a.zaraz[e] = a.zaraz._f(e);
          (a.zaraz.init = () => {
            var t = e.getElementsByTagName(r)[0],
              z = e.createElement(r),
              n = e.getElementsByTagName('title')[0];
            for (
              n && (a.zarazData.t = e.getElementsByTagName('title')[0].text),
                a.zarazData.x = Math.random(),
                a.zarazData.w = a.screen.width,
                a.zarazData.h = a.screen.height,
                a.zarazData.j = a.innerHeight,
                a.zarazData.e = a.innerWidth,
                a.zarazData.l = a.location.href,
                a.zarazData.r = e.referrer,
                a.zarazData.k = a.screen.colorDepth,
                a.zarazData.n = e.characterSet,
                a.zarazData.o = new Date().getTimezoneOffset(),
                a.zarazData.q = [];
              a.zaraz.q.length;

            ) {
              const e = a.zaraz.q.shift();
              a.zarazData.q.push(e);
            }
            z.defer = !0;
            for (const e of [localStorage, sessionStorage])
              Object.keys(e || {})
                .filter(a => a.startsWith('_zaraz_'))
                .forEach(t => {
                  try {
                    a.zarazData['z_' + t.slice(7)] = JSON.parse(e.getItem(t));
                  } catch {
                    a.zarazData['z_' + t.slice(7)] = e.getItem(t);
                  }
                });
            (z.referrerPolicy = 'origin'),
              (z.src = '/cdn-cgi/zaraz/s.js?z=' + btoa(encodeURIComponent(JSON.stringify(a.zarazData)))),
              t.parentNode.insertBefore(z, t);
          }),
            ['complete', 'interactive'].includes(e.readyState) ? zaraz.init() : a.addEventListener('DOMContentLoaded', zaraz.init);
        })(w, d, 0, 'script');
      })(window, document);
    </script>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../content/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60" />
      </div>

      <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: black">
        <a href="index3.html" class="brand-link" style="background-color: black">
          <img
            src="../../content/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
          />
          <span class="brand-text font-weight-light">AWTAR</span>
        </a>

        <div class="sidebar">
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="../../content/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
              <a href="#" class="d-block">{{ account?.login }}</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a [routerLink]="['admin-dashboard/dashboard']" class="nav-link active">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-header">BENEFICIARIES</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">family_restroom</span>
                  <p>
                    Families
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['/family']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Families</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a [routerLink]="['/family/add']" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Family</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">girl</span>
                  <p>
                    Children
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a [routerLink]="['admin-dashboard/children']" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Chilfren</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Child</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">holiday_village</span>
                  <p>
                    Establishments
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Establishments</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>

                      <p>Add Establishment</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS</li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">volunteer_activism</span>
                  <p>
                    Donations Issued
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Issued</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">inventory</span>
                  <p>
                    Donations Received
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Donations Received</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Statistic</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">DONATIONS Items</li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-circle"></i>
                  <p>
                    Items
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List of Items</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Item</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-chart-pie"></i>
                      <p>Status Item</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-header">REFERENCE TABLE</li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Establishments Types</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Citys</p>
                </a>
              </li>

              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Health Categories</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Nature</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>School Level</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="pages/widgets.html" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>Educational Institutions</p>
                </a>
              </li>

              <li class="nav-header">CONTRIBUTORS</li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">groups</span>
                  <p>
                    Authorizing Officers
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Authorizing Officers</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Authorizing Officer</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link" style="display: flex">
                  <span class="material-icons-sharp" style="margin-right: 0.5rem">visibility</span>
                  <p>
                    Tutors
                    <i class="fas fa-angle-left right"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="pages/layout/top-nav.html" class="nav-link">
                      <i class="nav-icon fas fa-file"></i>
                      <p>List Of Tutors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                      <i class="nav-icon far fa-plus-square"></i>
                      <p>Add Tutor</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </aside>

      <div class="content-wrapper" style="margin-top: -3rem">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Add Child</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="#">Family</a></li>
                  <li class="breadcrumb-item"><a href="#">Child</a></li>
                  <li class="breadcrumb-item active">Add Child</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="container">
              <div class="main-body">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card1" style="margin-bottom: 1.5rem">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img
                              *ngIf="!editForm.get('urlPhoto')!.value"
                              src="https://bootdey.com/img/Content/avatar/avatar7.png"
                              alt="Admin"
                              class="rounded-circle"
                              width="150"
                            />
                            <img
                              [src]="'data:' + editForm.get('urlPhotoContentType')!.value + ';base64,' + editForm.get('urlPhoto')!.value"
                              style="max-height: 100px"
                              *ngIf="editForm.get('urlPhoto')!.value"
                              src="https://bootdey.com/img/Content/avatar/avatar7.png"
                              alt="Admin"
                              class="rounded-circle"
                              width="150"
                              alt="profile image"
                              class="rounded-circle"
                              width="150"
                            />
                            <div class="mt-3">
                              <div class="row mb-3">
                                <label class="form-label" jhiTranslate="awtarApp.profile.urlPhoto" for="field_urlPhoto">Url Photo</label>
                                <div>
                                  <div *ngIf="editForm.get('urlPhoto')!.value" class="form-text text-danger clearfix">
                                    <span class="pull-start"
                                      >{{ editForm.get('urlPhotoContentType')!.value }},
                                      {{ byteSize(editForm.get('urlPhoto')!.value) }}</span
                                    >
                                    <button
                                      type="button"
                                      (click)="clearInputImage('urlPhoto', 'urlPhotoContentType', 'file_urlPhoto')"
                                      class="btn btn-secondary btn-xs pull-end"
                                    >
                                      <fa-icon icon="times"></fa-icon>
                                    </button>
                                  </div>
                                  <input
                                    type="file"
                                    id="file_urlPhoto"
                                    data-cy="urlPhoto"
                                    (change)="setFileData($event, 'urlPhoto', true)"
                                    accept="image/*"
                                    jhiTranslate="entity.action.addimage"
                                  />
                                </div>
                                <input
                                  type="hidden"
                                  class="form-control"
                                  name="urlPhoto"
                                  id="field_urlPhoto"
                                  data-cy="urlPhoto"
                                  formControlName="urlPhoto"
                                />
                                <input
                                  type="hidden"
                                  class="form-control"
                                  name="urlPhotoContentType"
                                  id="field_urlPhotoContentType"
                                  formControlName="urlPhotoContentType"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header text-white" style="background-color: #fc00ff">
                          <h3 class="card-title">Cordonnées</h3>
                        </div>

                        <div class="form-horizontal">
                          <div class="card-body">
                            <div class="form-group row">
                              <label
                                class="col-sm-4 col-form-label"
                                jhiTranslate="awtarApp.profile.placeOfResidence"
                                for="field_placeOfResidence"
                                >Place Of Residence</label
                              >
                              <div class="col-sm-8">
                                <select
                                  class="form-control"
                                  id="field_placeOfResidence"
                                  data-cy="placeOfResidence"
                                  name="placeOfResidence"
                                  formControlName="placeOfResidence"
                                >
                                  <option *ngIf="!editForm.get('placeOfResidence')!.value" [ngValue]="null" selected></option>
                                  <option
                                    [ngValue]="
                                      cityOption.id === editForm.get('placeOfResidence')!.value?.id
                                        ? editForm.get('placeOfResidence')!.value
                                        : cityOption
                                    "
                                    *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
                                  >
                                    {{ cityOption.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label" jhiTranslate="awtarApp.profile.address" for="field_address"
                                >Address</label
                              >

                              <div class="col-sm-8">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="address"
                                  id="field_address"
                                  data-cy="address"
                                  formControlName="address"
                                />
                              </div>
                            </div>

                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label" jhiTranslate="awtarApp.profile.phone" for="field_phone">Phone</label>

                              <div class="col-sm-8">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="phone"
                                  id="field_phone"
                                  data-cy="phone"
                                  formControlName="phone"
                                />
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label" jhiTranslate="awtarApp.profile.email" for="field_email">Email</label>

                              <div class="col-sm-8">
                                <input
                                  type="text"
                                  class="form-control"
                                  name="email"
                                  id="field_email"
                                  data-cy="email"
                                  formControlName="email"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="card-footer"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card mb-3">
                        <div class="card-body">
                          <div>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="card">
                              <div class="card-header text-white" style="background-color: #fc00ff">
                                <h3 class="card-title">Information Personel</h3>
                              </div>

                              <div class="card-body">
                                <div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.lastNameArabic" for="field_lastNameArabic"
                                          >Last Name Arabic</label
                                        >
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="lastNameArabic"
                                          id="field_lastNameArabic"
                                          data-cy="lastNameArabic"
                                          formControlName="lastNameArabic"
                                        />
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label
                                          class="form-label"
                                          jhiTranslate="awtarApp.profile.firstNameArabic"
                                          for="field_firstNameArabic"
                                          >First Name Arabic</label
                                        >
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="firstNameArabic"
                                          id="field_firstNameArabic"
                                          data-cy="firstNameArabic"
                                          formControlName="firstNameArabic"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.firstName" for="field_firstName"
                                          >First Name</label
                                        >
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="firstName"
                                          id="field_firstName"
                                          data-cy="firstName"
                                          formControlName="firstName"
                                        />
                                        <div
                                          *ngIf="
                                            editForm.get('firstName')!.invalid &&
                                            (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)
                                          "
                                        >
                                          <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get('firstName')?.errors?.required"
                                            jhiTranslate="entity.validation.required"
                                          >
                                            This field is required.
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label
                                          class="form-label"
                                          jhiTranslate="awtarApp.profile.lastName"
                                          for="field_lastName"
                                          style="margin-right: 2rem; margin-left: 1rem"
                                          >Last Name</label
                                        >
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="lastName"
                                          id="field_lastName"
                                          data-cy="lastName"
                                          formControlName="lastName"
                                        />
                                        <div
                                          *ngIf="
                                            editForm.get('lastName')!.invalid &&
                                            (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)
                                          "
                                        >
                                          <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get('lastName')?.errors?.required"
                                            jhiTranslate="entity.validation.required"
                                          >
                                            This field is required.
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.gender" for="field_gender">Gender</label>
                                        <select
                                          class="form-control"
                                          name="gender"
                                          formControlName="gender"
                                          id="field_gender"
                                          data-cy="gender"
                                        >
                                          <option [ngValue]="null">{{ 'awtarApp.Gender.null' | translate }}</option>
                                          <option *ngFor="let gender of genderValues" [value]="gender">
                                            {{ 'awtarApp.Gender.' + gender | translate }}
                                          </option>
                                        </select>
                                        <div
                                          *ngIf="
                                            editForm.get('gender')!.invalid &&
                                            (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)
                                          "
                                        >
                                          <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get('gender')?.errors?.required"
                                            jhiTranslate="entity.validation.required"
                                          >
                                            This field is required.
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.dateOfBirth" for="field_dateOfBirth"
                                          >Date Of Birth</label
                                        >
                                        <div class="input-group">
                                          <input
                                            id="field_dateOfBirth"
                                            data-cy="dateOfBirth"
                                            type="text"
                                            class="form-control"
                                            name="dateOfBirth"
                                            ngbDatepicker
                                            #dateOfBirthDp="ngbDatepicker"
                                            formControlName="dateOfBirth"
                                          />
                                          <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                                            <fa-icon icon="calendar-alt"></fa-icon>
                                          </button>
                                        </div>
                                        <div
                                          *ngIf="
                                            editForm.get('dateOfBirth')!.invalid &&
                                            (editForm.get('dateOfBirth')!.dirty || editForm.get('dateOfBirth')!.touched)
                                          "
                                        >
                                          <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get('dateOfBirth')?.errors?.required"
                                            jhiTranslate="entity.validation.required"
                                          >
                                            This field is required.
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.birthPlace" for="field_birthPlace"
                                          >Birth Place</label
                                        >
                                        <select
                                          class="form-control"
                                          id="field_birthPlace"
                                          data-cy="birthPlace"
                                          name="birthPlace"
                                          formControlName="birthPlace"
                                        >
                                          <option *ngIf="!editForm.get('birthPlace')!.value" [ngValue]="null" selected></option>
                                          <option
                                            [ngValue]="
                                              cityOption.id === editForm.get('birthPlace')!.value?.id
                                                ? editForm.get('birthPlace')!.value
                                                : cityOption
                                            "
                                            *ngFor="let cityOption of citiesSharedCollection; trackBy: trackCityById"
                                          >
                                            {{ cityOption.name }}
                                          </option>
                                        </select>
                                        <div
                                          *ngIf="
                                            editForm.get(['birthPlace'])!.invalid &&
                                            (editForm.get(['birthPlace'])!.dirty || editForm.get(['birthPlace'])!.touched)
                                          "
                                        >
                                          <small
                                            class="form-text text-danger"
                                            *ngIf="editForm.get(['birthPlace'])?.errors?.required"
                                            jhiTranslate="entity.validation.required"
                                          >
                                            This field is required.
                                          </small>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6">
                                      <div class="form-group">
                                        <label class="form-label" jhiTranslate="awtarApp.profile.cin" for="field_cin">Cin</label>
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="cin"
                                          id="field_cin"
                                          data-cy="cin"
                                          formControlName="cin"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row mb-3">
                              <label class="form-label" jhiTranslate="awtarApp.profile.urlCinAttached" for="field_urlCinAttached"
                                >Url Cin Attached</label
                              >
                              <div>
                                <img
                                  [src]="
                                    'data:' +
                                    editForm.get('urlCinAttachedContentType')!.value +
                                    ';base64,' +
                                    editForm.get('urlCinAttached')!.value
                                  "
                                  style="max-height: 100px"
                                  *ngIf="editForm.get('urlCinAttached')!.value"
                                  alt="profile image"
                                />
                                <div *ngIf="editForm.get('urlCinAttached')!.value" class="form-text text-danger clearfix">
                                  <span class="pull-start"
                                    >{{ editForm.get('urlCinAttachedContentType')!.value }},
                                    {{ byteSize(editForm.get('urlCinAttached')!.value) }}</span
                                  >
                                  <button
                                    type="button"
                                    (click)="clearInputImage('urlCinAttached', 'urlCinAttachedContentType', 'file_urlCinAttached')"
                                    class="btn btn-secondary btn-xs pull-end"
                                  >
                                    <fa-icon icon="times"></fa-icon>
                                  </button>
                                </div>
                                <input
                                  type="file"
                                  id="file_urlCinAttached"
                                  data-cy="urlCinAttached"
                                  (change)="setFileData($event, 'urlCinAttached', true)"
                                  accept="image/*"
                                  jhiTranslate="entity.action.addimage"
                                />
                              </div>
                              <input
                                type="hidden"
                                class="form-control"
                                name="urlCinAttached"
                                id="field_urlCinAttached"
                                data-cy="urlCinAttached"
                                formControlName="urlCinAttached"
                              />
                              <input
                                type="hidden"
                                class="form-control"
                                name="urlCinAttachedContentType"
                                id="field_urlCinAttachedContentType"
                                formControlName="urlCinAttachedContentType"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header text-white" style="background-color: #fc00ff">
                          <h3 class="card-title">Controle et Assistance</h3>
                        </div>

                        <div class="card-body">
                          <div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label
                                    class="form-label"
                                    jhiTranslate="awtarApp.beneficiary.authorizingOfficer"
                                    for="field_authorizingOfficer"
                                    >Authorizing Officer</label
                                  >
                                  <select
                                    class="form-control"
                                    id="field_authorizingOfficer"
                                    data-cy="authorizingOfficer"
                                    name="authorizingOfficer"
                                    formControlName="authorizingOfficer"
                                  >
                                    <option [ngValue]="null"></option>
                                    <option
                                      [ngValue]="
                                        authorizingOfficerOption.id === editForm.get('authorizingOfficer')!.value?.id
                                          ? editForm.get('authorizingOfficer')!.value
                                          : authorizingOfficerOption
                                      "
                                      *ngFor="
                                        let authorizingOfficerOption of authorizingOfficersSharedCollection;
                                        trackBy: trackAuthorizingOfficerById
                                      "
                                    >
                                      {{ authorizingOfficerOption.lastName }} {{ authorizingOfficerOption.firstName }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="form-label" jhiTranslate="awtarApp.beneficiary.tutor" for="field_tutor">Tutor</label>
                                  <select class="form-control" id="field_tutor" data-cy="tutor" name="tutor" formControlName="tutor">
                                    <option [ngValue]="null"></option>
                                    <option
                                      [ngValue]="
                                        tutorOption.id === editForm.get('tutor')!.value?.id ? editForm.get('tutor')!.value : tutorOption
                                      "
                                      *ngFor="let tutorOption of tutorsSharedCollection; trackBy: trackTutorById"
                                    >
                                      {{ tutorOption.lastName }} {{ tutorOption.firstName }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div>
                    <button
                      type="button"
                      id="cancel-save"
                      data-cy="entityCreateCancelButton"
                      class="btn btn-secondary"
                      (click)="previousState()"
                    >
                      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>

                    <button
                      type="submit"
                      id="save-entity"
                      data-cy="entityCreateSaveButton"
                      [disabled]="editForm.invalid || isSaving"
                      class="btn btn-primary"
                    >
                      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      <footer class="main-footer"></footer>

      <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>

    <script></script>
  </body>
</html>
