<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-donation-item-details-heading"
        data-cy="DonationItemDetailsCreateUpdateHeading"
        jhiTranslate="awtarApp.donationItemDetails.home.createOrEditLabel"
        style="margin-top: 4rem; margin-bottom: 2rem"
      >
        Create or edit a Donation Item Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationItemDetails.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('quantity')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('quantity')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationItemDetails.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationItemDetails.archivated" for="field_archivated">Archivated</label>
          <input
            type="checkbox"
            class="form-check"
            name="archivated"
            id="field_archivated"
            data-cy="archivated"
            formControlName="archivated"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationItemDetails.donationDetails" for="field_donationDetails"
            >Donation Details</label
          >
          <select
            class="form-control"
            id="field_donationDetails"
            data-cy="donationDetails"
            name="donationDetails"
            formControlName="donationDetails"
          >
            <option *ngIf="!editForm.get('donationDetails')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                donationDetailsOption.id === editForm.get('donationDetails')!.value?.id
                  ? editForm.get('donationDetails')!.value
                  : donationDetailsOption
              "
              *ngFor="let donationDetailsOption of donationDetailsSharedCollection; trackBy: trackDonationDetailsById"
            >
              {{ donationDetailsOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['donationDetails'])!.invalid &&
            (editForm.get(['donationDetails'])!.dirty || editForm.get(['donationDetails'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['donationDetails'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="awtarApp.donationItemDetails.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item">
            <option *ngIf="!editForm.get('item')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="itemOption.id === editForm.get('item')!.value?.id ? editForm.get('item')!.value : itemOption"
              *ngFor="let itemOption of itemsSharedCollection; trackBy: trackItemById"
            >
              {{ itemOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['item'])!.invalid && (editForm.get(['item'])!.dirty || editForm.get(['item'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['item'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
